<!-- Meta Tags -->
<title><%= page %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name=author content="Brady Sheridan" />
<meta name=description content="..."/>
<link rel="icon" href="images/icon.ico">

<!-- Geotag -->
<meta name="geo.region" content="US-WI" />
<meta name="geo.placename" content="Madison" />
<meta name="geo.position" content="43.075124;-89.38639" />
<meta name="ICBM" content="43.075124, -89.38639" />
