<!DOCTYPE html>
<html lang="en">
<head>

  <% var page = "Home" %>
  <% include ../partials/heads/global %>

</head>
<body>

  <div id="app"></div>
  <% include ../partials/injections/react/APP_NAME %>

</body>
</html>
